.dndDragover .column, .dndDragover.column {
  border-style: dashed;
  border-color: #3eaef6;
  background: #d9edf7;
}

ul[dnd-list], ul[dnd-list] > li {
  position: relative;
}

ul[dnd-list] .dndDraggingSource {
  display: none;
}

.dndPlaceholder {
  list-style-type: none;
}

ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #84DCFF;
  min-height: 40px;
  border: 2px dashed #3eaef6;
}