$font-size-base: 14px;
$font-family-base: "Helvetica Neue", Arial,Helvetica, sans-serif;

//colors
$bg-color: rgb(0, 121, 191);
$main-color: #333;

$text-primary: #337ab7;
$text-danger: #a94442;
$text-success: #449d44;